<!DOCTYPE html>
<html>
<head>
  <title>SaveDraftArchiveDelete</title>
  <%= stylesheet_link_tag    "save_draft_archive_delete/application", media: "all" %>
  <%= javascript_include_tag "save_draft_archive_delete/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
